*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
	--color-dark-color: #141922;
	--color-dark-grey: #282828;
	--color-black: #000000;
	--color-white: #ffffff;
	--color-grey: #717171;
	--color-light-grey: #c1c1c1;
	--color-highlight: #adff2f;
    --color-gradient: linear-gradient(180deg, #575050 0%, rgba(16, 13, 13, 0.00) 100%);
}
body{
    font-family: 'Montserrat', sans-serif;
    color: var(--color-white);
}
/* ***********UTILITIES************* */
.debug{
    border: 1px solid white;
}
.icon-text{
    display: inline-block;
    font-size: 1rem;
    position: relative;
    bottom: 8px;
    left: 8px;
}
.px-10{
    padding-left: 10px;
    padding-right: 10px;
}
.py-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.px-20{
    padding-left: 20px;
    padding-right: 20px;
}
.py-20{
    padding-top: 20px;
    padding-bottom: 20px;
}
.mbot-20{
    margin-bottom: 20px;
}
.text-grey{
    color: var(--color-grey);
}
.weight-400{
    font-weight: 400;
}
.weight-600{
    font-weight: 600;
}
.bold{
    font-weight: bold;
}
.font-1-2rem{
    font-size: 1.2rem;
}
.font-0-8rem{
    font-size: 0.8rem;
}
.btn{
    border-radius: 1.5rem;
    border: 1px solid var(--color-white);
}
/* ************MAIN**************** */
.wrapper{
    width: 100%;
    height: 100vh;
}
main{
    height: calc(100% - 100px);
    width: 100%;;
    display: flex;
}
ul{
    list-style: none;
}
.small-header{
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 10;
}
.side-bar{
    width: 250px;
    height: 100%;
    background-color: var(--color-black);
    z-index: 11;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top-sidebar{
    width: 100%;
}
.bottom-sidebar{
    width: 100%;
}
.option-container{
    width: 100%;
    border-left: 3px solid var(--color-highlight);
}
.logo{
    width: 75%;
}
.icon-size{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 20px;
}
.plus-text{
    bottom: 5px;
}
.plus{
    background-color: var(--color-light-grey);
    color: var(--color-black);
    font-size: 25px;
    padding: 7px 9px;
    margin-left: 20px;
    display: inline-block;
}
.download{
    width: 12%;
}
.border-bottom{
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid var(--color-grey);
}
.profile{
    width: 13%;
    background-color: var(--color-grey);
    border-radius: 50%;
    padding: 0px 1px;
    margin-left: 20px;
}
.main-content{
    height: 100%;
    width: calc(100% - 250px);
    background: linear-gradient(180deg, #756F6F 0%, #2D2C2C 11.46%, #0D0A0A 100%);
    overflow-y: auto;
    position: relative;
    bottom: 0;
    right: 0;
}
.player-bar{
    height: 100px;
    width: 100%;
    background-color:var(--color-dark-grey);
    position: fixed;
    bottom: 0;
    z-index: 12;
}
.upgrade{
    margin-left: 85%;
    margin-top: 30px;
    display: inline-block;
    z-index: 13;
    color: white;
}
.main-navbar{
    margin-top: 100px;
}
.main-navbar > ul{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.li-hover{
    position: relative;
}
.border{
    width: 40px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.li-hover:hover .border{
    border-bottom: 2px solid var(--color-highlight);
}