*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
	--color-dark-color: #141922;
	--color-dark-grey: #282828;
	--color-black: #000000;
	--color-white: #ffffff;
	--color-grey: #717171;
	--color-light-grey: #c1c1c1;
	--color-highlight: #adff2f;
    --color-gradient: linear-gradient(180deg, #575050 0%, rgba(16, 13, 13, 0.00) 100%);
}
body{
    font-family: 'Montserrat', sans-serif;
    color: var(--color-white);
}
/* ***********UTILITIES************* */
.debug{
    border: 1px solid white;
}
.icon-text{
    display: inline-block;
    font-size: 1rem;
    position: relative;
    bottom: 8px;
    left: 8px;
}
.px-10{
    padding-left: 10px;
    padding-right: 10px;
}
.py-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.px-20{
    padding-left: 20px;
    padding-right: 20px;
}
.py-20{
    padding-top: 20px;
    padding-bottom: 20px;
}
.mbot-20{
    margin-bottom: 20px;
}
.text-grey{
    color: var(--color-grey);
}
.weight-400{
    font-weight: 400;
}
.weight-600{
    font-weight: 600;
}
.bold{
    font-weight: bold;
}
.font-1-4rem{
    font-size: 1.4rem;
}
.font-1-2rem{
    font-size: 1.2rem;
}
.font-1-1rem{
    font-size: 1.1rem;
}
.font-0-8rem{
    font-size: 0.8rem;
}
.font-0-6rem{
    font-size: 0.7rem;
}
.text-align{
    text-align: center;
}
.btn{
    border-radius: 1.5rem;
    border: 1px solid var(--color-white);
}
.circle{
    border-radius: 50%;
}
/* ************MAIN**************** */
.wrapper{
    width: 100%;
    height: 100vh;
}
main{
    height: calc(100% - 100px);
    width: 100%;;
    display: flex;
}
ul{
    list-style: none;
}
.small-header{
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 10;
}
.side-bar{
    width: 250px;
    height: 100%;
    background-color: var(--color-black);
    z-index: 11;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top-sidebar{
    width: 100%;
}
.bottom-sidebar{
    width: 100%;
}
.option-container{
    width: 100%;
}
.option-container:hover{
    border-left: 3px solid var(--color-highlight);
}
.option-container:hover .icon-text{
    color: var(--color-white);
}
.playlist:hover .icon-text{
    color: var(--color-white);
}
.playlist:hover .plus{
    background-color: var(--color-white);
}
.nome:hover{
    color: var(--color-white);
}
.border-bottom > .icon-text:hover{
    color:  var(--color-white);
}
.logo{
    width: 75%;
}
.icon-size{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 20px;
}
.plus-text{
    bottom: 5px;
}
.plus{
    background-color: var(--color-light-grey);
    color: var(--color-black);
    font-size: 25px;
    padding: 7px 9px;
    margin-left: 20px;
    display: inline-block;
}
.download{
    width: 12%;
}
.border-bottom{
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid var(--color-grey);
}
.profile{
    width: 13%;
    background-color: var(--color-grey);
    border-radius: 50%;
    padding: 0px 1px;
    margin-left: 20px;
}
.main-content{
    height: 100%;
    width: calc(100% - 250px);
    background: linear-gradient(180deg, #756F6F 0%, #2D2C2C 11.46%, #0D0A0A 100%);
    overflow-y: auto;
    position: relative;
    bottom: 0;
    right: 0;
}
.player-bar{
    height: 100px;
    width: 100%;
    background-color:var(--color-dark-grey);
    position: fixed;
    bottom: 0;
    z-index: 12;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.upgrade{
    margin-left: 85%;
    margin-top: 30px;
    display: inline-block;
    z-index: 13;
    color: white;
}
.upgrade:hover{
    padding: 20px 30px;
    color: var(--color-highlight);
    margin-top: 20px;
}
.main-navbar{
    margin-top: 100px;
}
.main-navbar > ul{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.li-hover{
    position: relative;
}
.border{
    width: 40px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.li-hover:hover{
    color: var(--color-white);
}
.li-hover:hover .border{
    border-bottom: 2px solid var(--color-highlight);
}
.main-section{
    width: 100%;
}
.card-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.flex-start{
    justify-content: flex-start;
}
.card{
    width: calc(100% / 6);
}
.card-img{
    width: 100%;
    position: relative;
}
.card-img > img{
    width: 100%;
    overflow: hidden;
}
.play-button{
    display: none;
}
.play-button > i{
    background-color: var(--color-highlight);
    color: var(--color-black);
    font-size: 30px;
    padding: 15px 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    cursor: pointer;
}
.card:hover .play-button{
    display: block;
}
.dark-layer{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    position: absolute;
    z-index: 4;
}
.card:hover .dark-layer{
    display: block;
}
.player-bar-left{
    width: 250px;
    display: flex;
    align-items: center;
}
.card-text{
    width: 100%;
}
.player-bar-left > img{
    width: 40%;
}
.icon-player{
    margin-left: 40px;
    margin-right: 20px;
}
.playbar-buttons{
    margin-left: 138px;
}
#playbar{
    height: 4px;
    appearance: none;
    width: 400px;
    margin: 2px;
    border-radius: 8px;
    transition: 0.2s ease;
    background-color: var(--color-grey);
}
#volume{
    height: 4px;
    appearance: none;
    width: 100px;
    margin: 2px;
    border-radius: 8px;
    transition: 0.2s ease;
    background-color: var(--color-grey);
    margin-right: 20px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--color-highlight);
} 
input[type="range"]::-webkit-slider-thumb:hover {
    background-color: var(--color-white);
}
#playbar:hover {
    background: var(--color-highlight);
  }
@media screen and (max-width: 1200px){
    .card{
        width: calc(100% / 4);
    }
    .card-wrapper{
        justify-content: flex-start;
    }
}
@media screen and (max-width: 1024px){
    .card{
        width: calc(100% / 3);
    }
    .card-wrapper{
        justify-content: flex-start;
    }
}
@media screen and (max-width: 768px){
    .card{
        width: calc(100% / 2);
    }
    .card-wrapper{
        justify-content: flex-start;
    }
}