*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
	--color-dark-color: #141922;
	--color-dark-grey: #282828;
	--color-black: #000000;
	--color-white: #ffffff;
	--color-grey: #717171;
	--color-light-grey: #c1c1c1;
	--color-highlight: #adff2f;
    --color-gradient: linear-gradient(180deg, #575050 0%, rgba(16, 13, 13, 0.00) 100%);
}
body{
    font-family: 'Montserrat', sans-serif;
    color: var(--color-white);
}
/* ***********UTILITIES************* */
.debug{
    border: 1px solid white;
}
.icon-text{
    display: inline-block;
    font-size: 1rem;
    position: relative;
    bottom: 8px;
    left: 8px;
}
.px-10{
    padding-left: 10px;
    padding-right: 10px;
}
.py-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.px-20{
    padding-left: 20px;
    padding-right: 20px;
}
.py-20{
    padding-top: 20px;
    padding-bottom: 20px;
}
.ptop-20{
    padding-top: 20px;
    padding-bottom: 5px;
}
.pbot-10{
    padding-bottom: 10px;
}
.mbot-20{
    margin-bottom: 20px;
}
.text-grey{
    color: var(--color-grey);
}
.weight-400{
    font-weight: 400;
}
.weight-600{
    font-weight: 600;
}
.bold{
    font-weight: bold;
}
.font-1-4rem{
    font-size: 1.4rem;
}
.font-1-2rem{
    font-size: 1.2rem;
}
.font-1-1rem{
    font-size: 1.1rem;
}
.font-0-8rem{
    font-size: 0.8rem;
}
.font-0-6rem{
    font-size: 0.7rem;
}
.text-align{
    text-align: center;
}
.btn{
    border-radius: 1.5rem;
    border: 1px solid var(--color-white);
}
.circle{
    border-radius: 50%;
}
/* ************MAIN**************** */
.wrapper{
    width: 100%;
    height: 100vh;
}
main{
    height: calc(100% - 100px);
    width: 100%;;
    display: flex;
}
ul{
    list-style: none;
}
.small-header{
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 10;
}
.side-bar{
    width: 250px;
    height: 100%;
    min-height: 480px;
    background-color: var(--color-black);
    z-index: 11;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top-sidebar{
    width: 100%;
    height: calc(100% - 83px);
}
.bottom-sidebar{
    width: 100%;
}
.option-container{
    width: 100%;
}
.option-container:hover{
    border-left: 3px solid var(--color-highlight);
}
.option-container:hover .icon-text{
    color: var(--color-white);
}
.nome-playlist{
    overflow-y: auto;
}
.playlist:hover .icon-text{
    color: var(--color-white);
}
.playlist:hover .plus{
    background-color: var(--color-white);
}
.nome:hover{
    color: var(--color-white);
}
.border-bottom > .icon-text:hover{
    color:  var(--color-white);
}
.logo{
    width: 75%;
}
.icon-size{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 20px;
}
.plus-text{
    bottom: 5px;
}
.plus{
    background-color: var(--color-light-grey);
    color: var(--color-black);
    font-size: 25px;
    padding: 7px 9px;
    margin-left: 20px;
    display: inline-block;
}
.download{
    width: 12%;
}
.border-bottom{
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid var(--color-grey);
}
.profile{
    width: 13%;
    background-color: var(--color-grey);
    border-radius: 50%;
    padding: 0px 1px;
    margin-left: 20px;
}
.main-content{
    height: 100%;
    width: calc(100% - 250px);
    background: linear-gradient(180deg, #756F6F 0%, #2D2C2C 11.46%, #0D0A0A 100%);
    overflow-y: auto;
    position: relative;
    bottom: 0;
    right: 0;
}
.main-content-daily{
    background-color: #7A7A7A;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(330,1280,645)'%3E%3Cstop offset='0' stop-color='%237A7A7A'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='300' height='250' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
.player-bar{
    height: 100px;
    width: 100%;
    background-color:var(--color-dark-grey);
    position: fixed;
    bottom: 0;
    z-index: 12;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.upgrade{
    margin-left: 85%;
    margin-top: 30px;
    display: inline-block;
    z-index: 13;
    color: white;
    cursor: pointer;
}
.upgrade:hover{
    padding: 15px 30px;
    color: var(--color-highlight);
    margin-top: 25px;
    text-decoration: underline;
    border: 2px solid var(--color-grey);
    transition: 0.2s linear;
}
.main-daily{
    margin-top: 120px;
}
.chevron-buttons{
    margin-left: 20px;
}
.chevron-buttons > i, .chevron-buttons > a{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px 13px;
    cursor: pointer;
    text-decoration: none;
    color:  var(--color-white);
}
.techno{
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.dailymix-header{
    width: 100%;
}
.techno-img{
    width: 15%;
    display: inline-block;
}
.tecnho-text{
    display: inline-block;
    vertical-align: 30px;
}
.dailymix-body{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-y: auto;
}
.table-container{
    width: 90%;
    margin: 0 auto;
}
.head{
    width: 100%;
    min-height: 30px;
    display: flex;
    align-items: center;
}
.tbody{
    width: 100%;
    min-height: 80px;
    display: flex;
    align-items: center;
}
.number{
    width: 5%;
    display: inline-block;
}
.title{
    width: 35%;
    display: inline-block;
}
.album{
    width: 25%;
    display: inline-block;
}
.data{
    width: 25%;
    display: inline-block;
}
.durata{
    width: 8%;
    display: inline-block;
}
.title-img{
    width: 10%;
    display: inline-block;
}
.title-text{
    width: 74%;
    display: inline-block;
}
.brani-img{
    width: 50px;
    vertical-align: -10px;
}
.main-navbar{
    margin-top: 100px;
}
.main-navbar > ul{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.li-hover{
    position: relative;
}
.border{
    width: 40px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.li-hover:hover{
    color: var(--color-white);
}
.li-hover:hover .border{
    border-bottom: 2px solid var(--color-highlight);
}
.main-section{
    width: 100%;
}
.card-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.flex-start{
    justify-content: flex-start;
}
.card{
    width: calc(100% / 6);
}
.card-img{
    width: 100%;
    position: relative;
}
.card-img > img{
    width: 100%;
    overflow: hidden;
}
.play-button{
    display: none;
}
.play-button > i, .play-button > a{
    background-color: var(--color-highlight);
    color: var(--color-black);
    font-size: 30px;
    padding: 15px 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    cursor: pointer;
    text-decoration: none;
}
.card:hover .play-button{
    display: block;
}
.dark-layer{
    width: 100%;
    height: 99%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    position: absolute;
    z-index: 4;
}
.card:hover .dark-layer{
    display: block;
}
.player-bar{
    z-index: 100;
}
.player-bar-left{
    width: 250px;
    display: flex;
    align-items: center;
}
.card-text{
    width: 100%;
}
.player-bar-left > img{
    width: 40%;
}
.icon-player{
    margin-left: 40px;
    margin-right: 20px;
}
.playbar-buttons{
    margin-left: 138px;
}
.icon-hover:hover .text-grey{
    color: var(--color-white);
}
.playbar-play-button{
    font-size: 1.8rem;
    cursor: pointer;
}
.playbar-play-button:hover{
    animation: playturn 0.2s  linear;
}
@keyframes playturn{
    0%{
        transform: rotate(1turn);
    }
}
#playbar{
    height: 4px;
    appearance: none;
    width: 400px;
    margin: 2px;
    border-radius: 8px;
    transition: 0.2s ease;
    background-color: var(--color-grey);
}
#volume{
    height: 4px;
    appearance: none;
    width: 100px;
    margin: 2px;
    border-radius: 8px;
    transition: 0.2s ease;
    background-color: var(--color-grey);
    margin-right: 20px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--color-highlight);
} 
#playbar:hover{
    background: var(--color-highlight);
  }
  /* ***************MEDIA************** */
@media screen and (max-width: 1200px){
    .card{
        width: calc(100% / 4);
    }
    .card-wrapper{
        justify-content: flex-start;
    }
    .nav-flex{
        display: flex;
        justify-content:space-between;
        align-items: center;
        flex-flow: row wrap;
        gap: 10px;
    }
    .upgrade{
        margin-left: 900px;
    }
}
@media screen and (max-width: 992px){
    .card{
        width: calc(100% / 3);
    }
    .card-wrapper{
        justify-content: flex-start;
    }
    .nav-flex{
        display: flex;
        justify-content:flex-start;
        align-items: center;
        flex-flow: row wrap;
        gap: 10px;
    }
    .upgrade{
        margin-left: 730px;
    }
}
@media screen and (max-width: 768px){
    .card{
        width: calc(100% / 2);
    }
    .card-wrapper{
        justify-content: flex-start;
    }
    .nav-flex{
        display: flex;
        justify-content:flex-start;
        align-items: center;
        flex-flow: row wrap;
        gap: 20px;
    }
    .player-bar-right{
        display: none;
    }
    .upgrade{
        margin-left: 400px;
    }
}
@media screen and (max-width: 576px){
    .card{
        width: 100%;
    }
    .card-wrapper{
        justify-content: flex-start;
    }
    .player-bar-left{
        display: none;
    }
    .player-bar-right{
        display: none;
    }
    .player-bar{
        display: flex;
        justify-content: center;
    }
    .nav-flex{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        gap: 10px;
    }
    .upgrade{
        margin-left: 300px;
    }
}